<div class="container">
    <div class="p-grid">
        <h1>Pessoas</h1>
    </div>

    <div class="p-grid-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
    </div>
    <br>

    <div class="p-grid-12">
        <button pButton type="submit" label="Pesquisar"></button>
    </div>
</div>

<br>
<br>
<div class="p-grid">
    <div class="p-grid-12">
        <p-table [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th class="col-estado-header">Estado</th>
                    <th class="col-ativo-header">Status</th>
                    <th class="col-nada-header"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pessoa>
                <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" : tooltipPosition="top">
                    {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                  </a>
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.cidade }}</td>
                    <td class=" col-data-content ">{{ pessoa.estado }}</td>
                    <td>{{ pessoa.status }}</td>
                    <ng-template pTemplate="body "></ng-template>
                    <td><button pButton icon="pi pi-pencil " pTooltip="Editar " tooltipPosition="top "></button>
                        <button pButton icon="pi pi-trash " pTooltip="Excluir " tooltipPosition="top "></button>
                    </td>

                </tr>

            </ng-template>
        </p-table>
        <button pButton label="Nova Pessoa "></button>

    </div>
