<div class="container">
 <div class="p-grid">
        <h1>Nova Pessoa</h1>
      </div>

     
<div class="formgroup-inline">
   
    <div class="col-12 md:col-12 p-fluid">
        <label>Nome</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-7 md:col-7 p-fluid">
        <label>Logradouro</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-5 md:col-5 p-fluid">
        <label>Número</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-4 md:col-4 p-fluid">
        <label>Complemento</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-4 md:col-4 p-fluid">
        <label>Bairro</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-4 md:col-4 p-fluid">
        <label>CEP</label><br>
        <p-inputMask mask="99.999-99"></p-inputMask>
    </div>
    <div class="col-6 md:col-6 p-fluid">
        <label>Cidade</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    <div class="col-6 md:col-6 p-fluid">
        <label>Estado</label><br>
        <input pInputText type="text" type="text" class="inputfield w-full" >
    </div>
    
    
    <div class="col-12"></div>
    <button pButton type="submit" label="Salvar"></button>
    <button pButton type="button" label="Novo" class="p-button-info"></button>
    <a href="javascript;">Voltar a pesquisa</a>

   
</div>
</div>
